node_modules/
dist/
.expo/
.expo-web-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env*
.DS_Store
.DS_Store?
*.swp
*.swo
.vscode/
.idea/
coverage/
.metro/
ios/build/
android/.gradle/
android/app/build/
