# Dependencies
node_modules/

# Expo & Build
.expo/
.expo-web-cache/
dist/
web-build/
expo-env.d.ts

# Logs & Debug
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Environment
.env*
.env*.local
app-example

# OS & IDE
.DS_Store
.DS_Store?
*.swp
*.swo
.vscode/
.idea/

# Coverage & TS
coverage/
*.tsbuildinfo

# Native & Keys
ios/build/
android/.gradle/
android/app/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro/
